@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron" style="background-color: yellow;">
    <h1>.NET 💜 Azure</h1>
    <p class="lead">Example .NET app to Azure App Service.</p>
</div>